.header-container {
  background: #0d0e0e;
  background: #172419;
  width: 100vw;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > * {
    margin: 0 30px;
  }

  .header-right-content {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .link-sign-in {
    color: white;

    &:hover {
      color: pink;
    }
  }

  .mf-image {
    width: 50px;
    height: 45px;
  }
}
