.mf-list-container {
  // border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .mf-list-scrolldown {
//   text-align: center;
// }

.mf-list-label {
  margin-right: 10px;
}

.mf-image {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  margin-right: 50px;
}

select {
  width: 430px;
  height: 30px;
}
