.mf-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mf-list-label {
  margin-right: 10px;
}

.mf-image {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  margin-right: 50px;
}

select {
  width: 510px;
  height: 30px;
}
